html {
  box-sizing: border-box;
  background: rgb(234, 255, 0);
 
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: top;
  text-align: center;
  font-family:  "Trebuchet MS", Arial, sans-serif;
  padding-top: 50px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
.add-items{
  margin-bottom: 5px;
}

.clear{
  width: 81%;
  padding: 10px;
    outline: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.clear:hover{
  background-color: rgba(241, 233, 12, 0.53);
}
.clear:active{
  background-color: rgba(249, 241, 7, 0.872);
}

.main-block {
  width: 120%;
  min-height: 20%;
  padding: 20px;
  max-width: 600px;
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0 0 0px 10px rgba(0, 0, 0, 0.295);
}

h2 {
  text-align: center;
  margin: 0;
  font-weight: 200;
}

.list {
  margin: 0;
  padding: 0;
  text-align: left;
  list-style: none;
}

.list >  li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10px 0;
  font-weight: 100;
  display: flex;
}

.list label {
  flex: 1;
  cursor: pointer;
}

.list input {
  display: none;
}

.list input + label:before {
  content: "📌";
  margin-right: 10px;
}

.list .common:checked + label::before {
  content: "✅";
}
 .list .star:checked + label::before {
  content: "🔥";
}

.add-items {
  margin-top: 20px;
}

.add-items input {
  padding: 10px;
  outline: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
