.main-text{
  color: rgba(128, 128, 128, 0.635);
  font-size: 54px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 20% auto 20px ;
  
}
.center{
  display: flex;
  width: 100%;
  min-height: 300px;
  flex-direction: column;
    align-content: center;
    align-items: center;
}
p{
  font-size: 24px;
  display: inline;


}
.hide{
  display: none;
}